@import url('https://fonts.googleapis.com/css?family=Roboto')

* {
	margin: 0;
	padding: 0;
	font-family: roboto, arial, helvetica, sans-serif;
}

body {
	background: #54585A;
	padding: 35px 0 0;
	margin: auto;
	text-align: center;
}

form {
	margin-top: 10px;
	margin-bottom: 10px;
}

input {
	margin: 5px;
	padding-left: 2px;
}

h1 {
	margin-top: 10px;
	color: #ffffff;
}

table {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	/*width: 100%;*/
}

th {
	background-color: #C8102E;
	color: white;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

button {
	padding: 2px;
}

tr:nth-child(even) {
	background-color: white;
}

tr:nth-child(odd) {
	background-color: #BEBEBE;
}

.explainText {
	color: red;
	font-size: 0.75em;
	margin-bottom: 5px;
}
.rowHeader {
	background-color: #C8102E;
	color: white;
	text-align: right;
	padding: 5px;
}

.rowContents {
	text-align: left;
	padding: 1px;
}

.rowContents select {
	margin: 5px;
}
			
.ribbon {
	display: inline-block;
	border-color: #000000;
}

.ribbon:after, .ribbon:before {
	margin-top: 0.5em;
	content: "";
	float: left;
	border: 1.5em solid #fff;
	border-color: black;
}

.ribbon:after {
	border-right-color: transparent;
}

.ribbon:before {
	border-left-color: transparent;
}

.ribbon a:link, .ribbon a:visited {
	color: #000;
	text-decoration: none;
	float: left;
	height: 3.5em;
	overflow: hidden;
}

.ribbon span {
	background: #fff;
	display: inline-block;
	line-height: 3em;
	padding: 0 1em;
	margin-top: 0.5em;
	position: relative;
	
	-webkit-transition: background-color 0.2s, margin-top 0.2s;
	-moz-transition: background-color 0.2s, margin-top 0.2s;
	-ms-transition: background-color 0.2s, margin-top 0.2s;
	-o-transition: background-color 0.2s, margin-top 0.2s;
	transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
	background: #C8102E;
	margin-top: 0;
	font-weight: bold;
	color: white;
}

.ribbon span:before {
	content: "";
	position: absolute;
	top: 3em;
	left: 0;
	border-right: 0.5em solid #9B8651;
	border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
	content: "";
	position: absolute;
	top: 3em;
	left: 0;
	border-left: 0.5em solid #9B8651;
	border-bottom: 0.5em solid #fff;
}
